<div class="movie_side_panel border border-secondary p-3">
  <div class="row">
    <div class="col p-0">
      <h3  class="mb-3">Recent Reviews</h3>
      <!-- recently reviewed movies in this db -->
      <!-- limit to three recent reviews -->
      <!-- last three reviews -->
      <!-- changed rating to stars -->
      <% if @reviews.empty? %>
        <p class="mb-0">No Recent Movie Reviews</p>
        <br/>
      <% else %>
        <% @reviews.each do |review| %>
        <!-- limit comment length and make it a link_to review show -->
          <p class="float-left mb-0"><%= review.comment %></p>
          <p class="float-right mb-0"><%= review.rating %></p>
          <br/>
          <p class="mb-0"><%= review.movie.title %></p>
        <% end %>
      <% end %>
      <%= link_to "View All Reviews", reviews_path, class: "float-right mt-3" %>
    </div>
  </div>
  <hr>
  <div class="row">
    <!-- recently created movies in this db -->
    <!-- limit to four recent movies -->
    <div class="col p-0">
      <h3 class="mb-3">Recent Movies</h3>
      <% if @movies.empty? %>
        <p class="mb-0">No Recent Movies Added</p>
        <br/>
      <% else %>
        <% @movies.each do |movie| %>
          <p class="float-left mb-0"><%= movie.title %></p>
          <p class="float-right mb-0">movie.reviews.avg</p>
          <br/>
        <% end %>
      <% end %>
      <%= link_to "View All Movies", movies_path, class: "float-right mt-3" %>
    </div>
  </div>
</div>
