<div class="movie_side_panel border border-secondary p-3">
  <div class="row">
    <div class="col p-0">
      <h3 class="mb-3">Recent Reviews</h3>
      <!-- recently reviewed movies in this db -->
      <% if @reviews.length == 0 %>
        <p class="mb-0">No Recent Movie Reviews</p>
        <br/>
      <% else %>
        <% @reviews.reverse[0...3].each do |review| %>
          <% if review.comment.length > 35 %>
            <%= link_to review_path(review.id) do %>
              <p class="float-left mb-0"><%= review.comment[0..32] %>...</p>
            <% end %>
          <% else %>
            <%= link_to review_path(review.id) do %>
              <p class="float-left mb-0"><%= review.comment %></p>
            <% end %>
          <% end %>
          <p class="float-right mb-0 stars-container stars-<%= review.rating.to_s %>">★★★★</p>
          <br/>
          <p class="mb-2"><%= review.movie.title %></p>
        <% end %>
      <% end %>
      <%= link_to "View All Reviews", reviews_path, class: "float-right mt-3" %>
    </div>
  </div>
  <hr>
  <div class="row">
    <!-- recently created movies in this db -->
    <div class="col p-0">
      <h3 class="mb-3">Recent Movies</h3>
      <% if @movies.empty? %>
        <p class="mb-0">No Recent Movies Added</p>
        <br/>
      <% else %>
        <% @movies.reverse[0...4].each do |movie| %>
          <% if movie.title.length > 25 %>
            <%= link_to movie_path(movie.id) do %>
              <p class="float-left mb-0"><%= movie.title[0..22] %>...</p>
            <% end %>
          <% else %>
            <%= link_to movie_path(movie.id) do %>
              <p class="float-left mb-0"><%= movie.title %></p>
            <% end %>
          <% end %>
          <!-- change external rating to this dbs review rating when reviews exist -->
          <p class="float-right mb-0 stars-container stars-<%= (movie.your_rating).to_s %>">★★★★</p>
          <br/>
        <% end %>
      <% end %>
      <%= link_to "View All Movies", list_path, class: "float-right mt-3" %>
    </div>
  </div>
</div>
