<div class="row justify-content-center pt-5">
  <div class="col-lg-6 col-md-8 col-sm-10">
    <div class="row justify-content-center align-items-center">
      <div class="col-9">
        <h1><%= @movie.title %></h1>
        <h6>Average Rating: <%= @movie.your_rating %></h6>
      </div>
      <div class="col-3 text-right">
        <%= link_to action: 'new', controller: '/reviews', review: {external_id: @movie.external_id} do %>
          <button class="btn btn-outline-secondary">Write Review</button>
        <% end %>
      </div>
    </div>
    <div class="row justify-content-center py-5">
      <div class="col">
        <h1>Recent Reviews</h1>
        <hr>
        <% @movie.reviews.reverse.each do |review| %>
        <div class="border rounded mb-3 movie_card">
          <div class="row justify-content-between py-3">
            <div class="col bigger">
              <%= link_to review_path(review.id) do %>
                <p class="mb-1"><%= review.user.name %></p>
              <% end %>
            </div>
            <div class="col text-right bigger">
              <p class="stars-container stars-<%= review.rating.to_s %>">★★★★</p>
            </div>
          </div>
          <hr class="m-0">
          <div class="row py-3">
            <div class="col">
              <p class="mb-1"><%= review.comment %></p>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
