<div class="row justify-content-center py-5">
  <div class="col-lg-8 col-md-10">
    <h1><%= @movie.title %></h1>
    <h6>TMDb id: <%= @movie.external_id %></h6>
    <h6>TMDb rating: <%= @movie.external_rating %></h6>
  </div>
</div>
<div class="row justify-content-center py-5">
  <div class="col-lg-8 col-md-10">
    <h2>Reviews</h2>
    <hr>
    <!-- paginate -->
    <% @movie.reviews.each do |review| %>
      <p class="float-left"><%= review.user.name %></p>
      <p class="float-right stars-container stars-<%= review.rating.to_s %>">★★★★★</p>
      <br/>
      <p class="my-3"><%= review.comment %></p>
      <hr>
    <% end %>
  </div>
</div>
