<nav class="navbar navbar-dark bg-dark text-white">
  <div class="row justify-content-between align-items-center w-100">
    <div class="col-4">
      <%= link_to root_path, class: "contrast" do %>
        <h3 class="m-0">YourTake</h3>
      <% end %>
    </div>
    <div class="col text-right">
      <%= link_to root_path, class: "pl-2 contrast" do %>
        <%= fa_icon "home" %>
        <span>Home</span>
      <% end %>
      <%= link_to list_path, class: "px-2 contrast" do %>
        <%= fa_icon "film" %>
        <span>Movies</span>
      <% end %>
      <%= link_to reviews_path, class: "pr-2 contrast" do %>
        <%= fa_icon "comment" %>
        <span>Reviews</span>
      <% end %>
      <%= link_to about_path, class: "pr-2 contrast" do %>
        <%= fa_icon "info-circle" %>
        <span>About</span>
      <% end %>
      <% if user_signed_in? %>
        <div class="btn-group align-items-center">
          <button type="button" class="btn btn-outline-light dropdown-toggle d-flex align-items-center" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= current_user.name %>
          </button>
          <div class="dropdown-menu dropdown-menu-right text-center">
            <p>
              <%= link_to "Account", edit_user_registration_path %>
            </p>
            <p>
              <%= link_to "Activity", activity_path %>
            </p>
            <div class="dropdown-divider"></div>
            <%= link_to "Log Out", destroy_user_session_path, :method => "delete" %>
          </div>
        </div>
      <% else %>
        <%= link_to "Sign in", new_user_session_path, :class => "btn btn-outline-light" %>
        <%= link_to "Sign up", new_user_registration_path, :class => "btn btn-outline-light" %>
      <% end %>
    </div>
  </div>
</nav>
